* {
  background: #eeeeee;
}

.title {
  font-size: 100px;
  font-weight: 600;
  text-tranform: uppercase;
  color: #15266e;
  text-align: center;
  padding: 100;
}

.section1 {
  background-image: url("lapka.png");
  background-repeat: repeat;
  background-position: top center;
  padding: 5px;
  border: 10px solid white;
}

.section1 h2 {
  font-size: 50px;
  font-weight: 300;
  color: #1616b3;
  padding: 5px;
  opacity: 0,9;
}

.section1 p {
  font-size: 30px;
  font-weight: 300;
  color: #1616b3;
  padding: 10px;
  opacity: 0,9;
}

.section1 a {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.section2 {
  background: rgb(185,174,166);
  background: radial-gradient(circle, rgba(185,174,166,1) 0%, rgba(106,102,99,1) 30%, rgba(25,25,23,1) 100%);
  padding: 10px;
  border: 10px black;
}

.love, .hate {
  display: inline-block;
  border: 10px solid blue;
  padding: 10px;
  margin: 10px;
}

.section2 figure {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
}
